#beholder{
    display: grid;
    text-align: center;
}
#beholder p{
    font-size: 1.3em;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#resume{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    padding: 0;
    border: none;
    font-size: 1em;
    margin-top: 2vh;
    background: none;
    color: inherit;
}