#mainlogo{
    position: relative;
    margin-top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    /*animation: (@keyframes name) ()tid ()antallganger;*/
}
.tittelholder{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
h1{
    font-size: 4em;
    text-transform: uppercase;
    margin-bottom: 1vh;
}
span{
    margin-top: 0;
    font-size: 1.8em;
    letter-spacing: 0.2em;
}