body {
    margin: 0;
    font-family: monospace;
}

nav{
    position: relative;
    padding: 10px;
    background-color: rgb(166, 158, 194);
}
nav > ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}